body{
  font-family: 'Montserrat';
  font-weight: 400;
}
#title{
  background-color: #ff4c68;
  color: #fff;
}
/* CONTAINERS */
.container-fluid{
  padding: 3% 15% 7%;
}
/* HEADINGS */
h1{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
}
p{
  color: #8f8f8f;
}

/* Navigation Bar */
.navbar{
  padding-top: 0;
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: 300;
}

/* Download Buttons */
.download-btn{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features */
#features{
  padding: 3% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box{
  text-align: center;
  padding: 6%;
}
.icon{
  color: #ef8172;
  margin: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/* Testimonials Section */

#testimonials{
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}
.testimonial-img{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}

/* Pricing */

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-col{
  padding: 3% 2%;
}
.signup-btn{
  width: 100%;
}

/* Call To Action */
#cta{
  padding: 5% 15%;
  background-color: #ff4c68;
  color: #ffff;
  text-align: center;
}
.cta-heading{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* FOOTER SECTION */
#footer{
  text-align: center;
  padding: 5% 15%;
}
.logos{
  margin: 20px 10px;
}
.logos:hover{
  color: grey;
}

@media (max-width:990px) {
  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
    width: 40%;
  }
}
